In [1]:
import requests

url = "https://lego-set-prices-achieved-in-the-market-like-bricklink.p.rapidapi.com/"

headers = {
    'x-rapidapi-host': "lego-set-prices-achieved-in-the-market-like-bricklink.p.rapidapi.com",
    'x-rapidapi-key': "cd835cd1b7mshec2819d314a0d68p1e6390jsnf75e432bfa02"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{"message":"You are not subscribed to this API."}

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
pd.options.display.float_format = '{:,.2f}'.format

  set_num                        name  year  theme_id  num_parts
0   001-1                       Gears  1965         1         43
1  0011-2           Town Mini-Figures  1979        67         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [5]:
df_sets = pd.read_csv('data/sets.csv')
df_themes = pd.read_csv('data/themes.csv')

In [6]:
df_themes

      id                        name  parent_id
0      1                     Technic        NaN
1      3                 Competition       1.00
2      4              Expert Builder       1.00
3     16                  RoboRiders       1.00
4     17              Speed Slammers       1.00
..   ...                         ...        ...
439  715                      Marvel     535.00
440  716                     Modulex        NaN
441  717                 Speed Racer        NaN
442  718       Series 22 Minifigures     535.00
443  719  BrickLink Designer Program        NaN

[444 rows x 3 columns]